.text-alighn-right {
  text-align: right;
}

.highlighted {
  font-weight: 600;
}

.serving--count {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.serving--count > span {
  font-weight: 600;
  min-width: 110px;
}
